@import url('https://fonts.googleapis.com/css?family=Anton');

html{
  height:100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(110, 141, 224)
}

#drum-machine {
  height: 50%;
  width: 60%;
  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  background-color: rgb(127, 197, 255);
  border-radius: 20px;
}

#drum-pad-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.drum-pad {
  width: 60%;
  height: 60%;
  border: solid 1px black;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}



.drum-pad:nth-child(-n+3) {
  margin-top:30px;
}

.drum-pad:nth-child(n+7) {
  margin-top: 10px
}

#display-wrapper {
  margin-left: 5px;;
  height:100%;
  width:100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#dsm {
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  font-family: 'Anton', sans-serif;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: -3px 3px rgb(3, 3, 3);
  letter-spacing: 2px;
}

#display {
  position: relative;
}

#panel {
  width: 50%;
  height: 30%;
  border-radius: 10px;
  position: absolute;
  left: 25%;
  top: 15%;
  background-color: white;
  border:solid 1px black;
  font-style: italic;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}